
* {
    margin: 0;
    padding: 0;
}

button{
    font-family: inherit;
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 400px;
    margin:auto
}
p{
    line-height: 1.8;
}

.main-container, 
.thank-you{
    background-color: hsl(213, 19%, 18%);
    padding: 1.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.main-container img{
    background-color: hsl(213, 20%, 22%);
    padding: 0.5rem;
    border-radius: 50%;
    
}

.question {
    color: white;
    margin: 2rem 0 1rem;
}

.description{
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}

.buttons button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: hsl(213, 20%, 22%);
    color: white;
    padding-top: 0.2rem;
    cursor: pointer;
    transition: 0.3s;
    
}
.buttons button:hover{
    font-size: 11px;
    background-color: hsl(25, 97%, 53%) ;
}

.buttons button:focus{
    background-color: hsl(217, 12%, 63%) ;
}

.submit-btn{
    background-color: hsl(25, 97%, 53%);
    color: white;
    width: 100%;
    padding: 0.8rem 0 0.7rem;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}


.thank-you{
    align-items: center;
}
.thank-you img{
    display: block;
    margin: 0 auto 2rem;
}

.thank-you .op{
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 20%, 22%);
    border-radius: 30px;
    padding: 0.3rem 1.3rem 0;
    margin-bottom: 2rem;
}

.thank-you h2{
    color: white;
    padding-bottom: 1rem;
}


.thank-you .text {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    margin-bottom: 1rem;
    width: 96%;
    text-align: center;
}

.attribution {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 2rem;
}


.hidden{
    display: none;
}